name: Build
on:
    workflow_call:
        inputs:
            tag:
                description: "Tag to use for the build"
                required: false
                type: string
                default: "dev"
            upload_artifacts:
                description: "Whether to upload build artifacts"
                required: false
                type: boolean
                default: false

permissions:
    contents: read
    id-token: write

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                    - os: macos-latest
                      target: aarch64-apple-darwin
                    - os: macos-latest
                      target: x86_64-apple-darwin
        steps:
            - name: Git checkout
              uses: actions/checkout@v6

            - name: Fetch submodules
              run: ./submodule-version.sh init

            - name: Verify submodule versions
              run: ./submodule-version.sh verify

            - name: Install stable Rust toolchain
              run: |
                    curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf -y | sh
                    rustup target add ${{ matrix.target }}
                    rustup update stable

            - name: Build
              run: ./build.sh ${{ inputs.tag }} ${{ matrix.target }}

            - name: Upload artifact
              if: ${{ inputs.upload_artifacts }}
              uses: actions/upload-artifact@v6
              with:
                  name: build-${{ inputs.tag }}-${{ matrix.target }}
                  path: ./labbook-${{ inputs.tag }}-${{ matrix.target }}.tar.xz
                  compression-level: 0
