name: Build
on:
    workflow_call:
        inputs:
            tag:
                description: "Tag to use for the build"
                required: false
                type: string
                default: "dev"
            upload_artifacts:
                description: "Whether to upload build artifacts"
                required: false
                type: boolean
                default: false

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
        steps:
            - name: Git checkout
              uses: actions/checkout@v6

            - name: Fetch submodules
              run: ./submodule-version.sh init

            - name: Verify submodule versions
              run: ./submodule-version.sh verify

            - name: Install stable Rust toolchain
              run: |
                    curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf -y | sh
                    rustup update stable

            - name: Build for Ubuntu
              if: ${{ matrix.os == 'ubuntu-latest' }}
              run: ./build.sh ${{ inputs.tag }}

            - name: Build for macOS
              if: ${{ matrix.os == 'macos-latest' }}
              run: |
                  ./build.sh ${{ inputs.tag }} aarch64-apple-darwin 
                  ./build.sh ${{ inputs.tag }} x86_64-apple-darwin

            - name: Upload artifacts
              if: ${{ inputs.upload_artifacts }}
              uses: actions/upload-artifact@v6
              with:
                  name: build-${{ matrix.os }}
                  path: ./labbook-*-*.tar.xz
                  compression-level: 0
