name: CI
on:
    push:
        branches: [main]
    pull_request:
        types: [opened, synchronize]
        branches: ['*']

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    build:
        name: Build
        uses: ./.github/workflows/build.yml
        with:
            tag: "ci-${{ github.run_id }}"
            upload_artifacts: true
  
